@page
@model TraineeFront.Pages.Course.CourseListModel
@{
    ViewData["Title"] = "Course List";
}


<h1>COURSES List</h1>

<div class="table mb-3">
    <a asp-page="Create" class="btn btn-primary">Add Course</a>
</div>



<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var course in await Model.CourseList)
        {
            <tr>
                <td>@course.CourseName</td>
                <td>@course.CourseDescription</td>
                

                <td>
                    <form method="post" asp-page-handler="Delete" asp-route-id="@course.CourseId">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <a asp-page="Edit" asp-route-id="@course.CourseId" class="btn btn-warning btn-sm">Edit</a>

                </td>
            </tr>
        }
    </tbody>
</table>