@page
@model TraineeFront.Pages.EditModel
@{
    ViewData["Title"] = "Edit Trainee";
}
<h1>Edit Trainee</h1>
<form method="post" class="mt-3">
   <input type="hidden" asp-for="Trainee.Id"/> 
    <div class="form-group mb-3">
        <label asp-for="Trainee.Name" class="form-label"></label>
        <input asp-for="Trainee.Name" class="form-control" />
        <span asp-validation-for="Trainee.Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Trainee.Email" class="form-label"></label>
        <input asp-for="Trainee.Email" class="form-control" />
        <span asp-validation-for="Trainee.Email" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Trainee.Address" class="form-label"></label>
        <input asp-for="Trainee.Address" class="form-control" />
        <span asp-validation-for="Trainee.Address" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Trainee.Phone" class="form-label"></label>
        <input asp-for="Trainee.Phone" class="form-control" />
        <span asp-validation-for="Trainee.Phone" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <a asp-page="TraineeList" class="btn btn-secondary">Cancel</a>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}